<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank bank</title>
</head>
<body>
    <a href="{% url 'bank-account' %}">Go back to the cabinet</a>
    <p>Your bank accounts</p>
    {% for bank_account in bank_accounts %}
  	    <div>
  	        <p>Account: {{ bank_account.name }}</p>
  	        <p>Balance: {{ bank_account.balance }}</p>
  	        <p>Currency: {{ bank_account.currency }}</p>
            <br>
  	    </div>
  	{% endfor %}
    <br>
    <a href="{% url 'make-bank-account' %}">Make new bank account</a>
</body>
</html>